<div class="p-grid p-nogutter p-pt-2 p-pr-3 p-pl-3 p-pb-3">

    <div class="p-d-inline-flex p-jc-between p-ai-stretch p-col-12 flex-position">
        <h4 class="intestazione-componente">Informativa sulle Condizioni d'uso</h4>
        <button class="btn-home btn-custom-style p-button-rounded" type="button" pButton icon="pi pi-home" pTooltip="Vai a Home Page" (click)="redirectHomePage()"></button>      
    </div>

    <div class="p-mt-2 p-pr-3 p-pl-3">
        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">Avviso sulle condizioni d'uso del Portale Gestionale Passi Carrabili</h3>
            <p class="label p-text-justify p-mb-1 p-mt-0">Pagina di informazione su condizioni d'uso, privacy e protezione dei dati
                personali.</p>
        </div>

        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">1. Ambito di applicazione</h3>
            <p class="label p-text-justify p-mb-1 p-mt-0"></p>
        </div>

        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">2. Obiettivo dell'iniziativa</h3>
            <p class="label p-text-justify p-mb-1 p-mt-0"></p>
        </div>

        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">3. Questioni generali</h3>
            <p class="label p-text-justify p-mb-1 p-mt-0"></p>
        </div>

        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">4. Doveri degli utenti</h3>
            <p class="label p-text-justify p-mb-1 p-mt-0"></p>
        </div>

        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">5. Uso di Gestionale Passi Carrabili</h3>
            <p class="label p-text-justify p-mb-1 p-mt-0"></p>
        </div>

        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">6. Trattamento dei contenuti inseriti dagli utenti</h3>
            <p class="label p-text-justify p-mb-1 p-mt-0"></p>
        </div>

        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">7. Protezione dei dati personali e diritti di proprietà intellettuale e/o industriale</h3>
            <p class="label p-text-justify p-mb-1 p-mt-0"></p>
        </div>

        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">8. Normativa applicabile</h3>
            <p class="label p-text-justify p-mb-1 p-mt-0"></p>
        </div>

        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">9. Revisione delle condizioni d'uso</h3>
            <p class="label p-text-justify p-mb-1 p-mt-1"></p>
        </div>

        <div class="p-d-inline-flex p-flex-column p-col-12">
            <h3 class="field-label p-mb-1 p-mt-3">10. Versione delle condizioni d'uso</h3>
            <p class="p-text-normal p-text-justify p-mb-1 p-mt-1"></p>
        </div>
    </div>
</div>