<div class="p-grid p-nogutter p-pt-2 p-pr-3 p-pl-3 p-pb-3">

    <div class="p-d-inline-flex p-jc-between p-ai-stretch p-col-12 flex-position">
        <h4 class="intestazione-componente">Informativa sulla Privacy</h4>
        <button class="btn-home btn-custom-style p-button-rounded" type="button" pButton icon="pi pi-home" pTooltip="Vai a Home Page" (click)="redirectHomePage()"></button>      
    </div>

    <div class="p-mt-4 p-pr-3 p-pl-3">
        <div class="p-d-inline-flex p-flex-column p-col-12 p-mb-3">
            <p class="label p-text-justify p-mb-1 p-mt-0">Ai sensi degli articoli 13 e 14 del Regolamento UE n. 2016/679 (di seguito “GDPR”), recante disposizioni a tutela delle persone 
                e di altri soggetti rispetto al trattamento dei dati personali, desideriamo informarLa che i dati personali da Lei forniti formeranno oggetto di trattamento nel rispetto 
                    della normativa sopra richiamata. Per questo desideriamo fornirle le relative informazioni.</p>
        </div>

        <div class="p-d-inline-flex p-col-12 p-grid p-nogutter">
            <div class="p-flex p-col-2 border">
                <h3 class="field-label p-m-0 p-p-1 scroll-view">Titolare</h3>
            </div>
            <div class="p-flex p-col-10 border border-noleft">
                <p class="label p-text-justify p-m-0 p-p-1">Comune di Bari – C.so Vittorio Emanuele 84 – Bari – Tel.: 0805772251 / 0805772245 - email: privacy@comune.bari.it – PEC: privacy.comunebari@pec.rupar.puglia.it</p>
            </div>
        </div>

        <div class="p-d-inline-flex p-col-12 p-grid p-nogutter p-mt-3">
            <div class="p-flex p-col-2 border">
                <h3 class="field-label p-m-0 p-p-1 scroll-view">Finalità e base giuridica del trattamento</h3>
            </div>
            <div class="p-flex p-col-10 p-grid p-nogutter">
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Finalità</h3>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Base giuridica (riferita al GDPR)</h3>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Erogazione di servizi online di ...</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Consenso (art. 6 p. 1 lett. a))
                    <br/><br/>In mancanza del consenso l'utente non potrà accedere alla piattaforma né essere attivo nei servizi messi a disposizione dal Comune di Bari
                    <br/><br/>Il consenso potrà essere revocato in qualsiasi momento</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1">Classificazione degli interventi in base alle caratteristiche degli utenti</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1">Consenso (art. 6 p. 1 lett. a))
                    <br/><br/>In mancanza del consenso l'utente potrà, comunque, accedere alla piattaforma ed essere attivo nei servizi messi a disposizione dal Comune di Bari
                    <br/><br/>Il consenso potrà essere revocato in qualsiasi momento
                    <br/><br/>Le caratteristiche possono essere variate dall'utente accedendo al menù “Il mio account” presente nella home page di gestionale passi carrabili
                    </p>
                </div>
            </div>
        </div>

        <div class="p-d-inline-flex p-col-12 p-grid p-nogutter p-mt-3">
            <div class="p-flex p-col-2 border">
                <h3 class="field-label p-m-0 p-p-1 scroll-view">Dati personali trattati</h3>
            </div>
            <div class="p-flex p-col-10 p-grid p-nogutter">
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Finalità</h3>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Dati trattati</h3>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Erogazione di servizi online di ...</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Dati anagrafici provenienti dal sistema di autenticazione che l'utente sceglie per l'accesso alla piattaforma (Facebook, Twitter, Google, SPID)</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1">Classificazione degli interventi in base alle caratteristiche degli utenti</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1">Dati decisi dal singolo utente</p>
                </div>
            </div>
        </div>

        <div class="p-d-inline-flex p-col-12 p-grid p-nogutter p-mt-3">
            <div class="p-flex p-col-2 border">
                <h3 class="field-label p-m-0 p-p-1 scroll-view">Destinatari</h3>
            </div>
            <div class="p-flex p-col-10 p-grid p-nogutter">
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Finalità</h3>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Destinatari</h3>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Erogazione di servizi online di ...</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Pubblicazione degli interventi sul sito secondo il profilo che l'utente ha realizzato attraverso le funzionalità presenti nel menù “Il mio account” disponibile nella home page di gestionale passi carrabili
                    <br/><br/>I dati saranno trattati, in qualità di responsabile del trattamento dalla RTI Almaviva-Almavawe-Indra-PWC</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1">Classificazione degli interventi in base alle caratteristiche degli utenti</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1"></p>
                </div>
            </div>
        </div>

        <div class="p-d-inline-flex p-col-12 p-grid p-nogutter p-mt-3">
            <div class="p-flex p-col-2 border">
                <h3 class="field-label p-m-0 p-p-1 scroll-view">Fonti dei dati personali</h3>
            </div>
            <div class="p-flex p-col-10 p-grid p-nogutter">
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Finalità</h3>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Fonti esterne</h3>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Erogazione di servizi online di ...</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Facebook, Twitter, Google, SPID secondo la piattaforma che l'utente sceglie per autenticarsi al gestionale passi carrabili</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1">Classificazione degli interventi in base alle caratteristiche degli utenti</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1"></p>
                </div>
            </div>
        </div>

        <div class="p-d-inline-flex p-col-12 p-grid p-nogutter p-mt-3">
            <div class="p-flex p-col-2 border">
                <h3 class="field-label p-m-0 p-p-1 scroll-view">Periodo di conservazione</h3>
            </div>
            <div class="p-flex p-col-10 p-grid p-nogutter">
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Finalità</h3>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Durata</h3>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Erogazione di servizi online di ...</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">La conservazione ha durata limitata alla revoca del consenso da parte dell'utente e, comunque, non oltre il 31/12 dell'anno successivo all'ultimo accesso al sito da parte dell'utente</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1">Classificazione degli interventi in base alle caratteristiche degli utenti</p>
                </div>
                <div class="p-flex p-col-6 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1">La conservazione ha durata limitata all'ultimo giorno del terzo mese successivo all'intervento dell'utente</p>
                </div>
            </div>
        </div>

        <div class="p-d-inline-flex p-col-12 p-grid p-nogutter p-mt-3">
            <div class="p-flex p-col-2 border">
                <h3 class="field-label p-m-0 p-p-1 scroll-view">Diritti dell'interessato</h3>
            </div>
            <div class="p-flex p-col-10 p-grid p-nogutter">
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Diritto</h3>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Riferimento al GDPR</h3>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Diritto</h3>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <h3 class="field-label p-m-0 p-p-1 scroll-view">Riferimento al GDPR</h3>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Revoca del consenso</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Art. 7</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Portabilità ad altra piattaforma</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Art. 20</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Accesso ai dati personali</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Art. 15</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Opposizione al trattamento</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Art. 21</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Rettifica dei dati personali</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Art. 16</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Diritto alla comunicazione della violazione</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Art. 34</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Cancellazione dei dati personali</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Art. 17</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Diritto al reclamo al Garante per la Protezione dei Dati personali
                    <br/><br/>Piazza Venezia 11 - 00187 Roma - garante@gpdp - 06696771
                    </p>
                </div>
                <div class="p-flex p-col-3 border border-noleft border-nobottom">
                    <p class="label p-text-justify p-m-0 p-p-1">Art. 77</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1">Limitazione del trattamento</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1">Art. 18</p>
                </div>
                <div class="p-flex p-col-3 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1"></p>
                </div>
                <div class="p-flex p-col-3 border border-noleft">
                    <p class="label p-text-justify p-m-0 p-p-1"></p>
                </div>
            </div>
        </div>

        <div class="p-d-inline-flex p-col-12 p-grid p-nogutter p-mt-3">
            <div class="p-d-flex p-col-4 border">
                <h3 class="field-label p-m-0 p-p-1">Processo decisionale automatizzato: <span class="p-text-normal">NO</span></h3>
            </div>
            <div class="p-d-flex p-col-4 border border-noleft">
                <h3 class="field-label p-m-0 p-p-1">Trasferimenti dei dati a paesi extra UE: <span class="p-text-normal">NO</span></h3>
            </div>
            <div class="p-d-flex p-col-4 border border-noleft">
                <h3 class="field-label p-m-0 p-p-1">Profilazione dell'interessato: <span class="p-text-normal">NO</span></h3>
            </div>
        </div>

        <div class="p-d-inline-flex p-col-12 p-grid p-nogutter p-mt-3">
            <div class="p-d-flex p-col-4 border">
                <h3 class="field-label p-m-0 p-p-1">Responsabile per la Protezione dei Dati Personali</h3>
            </div>
            <div class="p-d-flex p-col-8 border border-noleft">
                <p class="label p-m-0 p-p-1">Avv. Ilaria Rizzo - Direttore della Segreteria Generale – C.so Vittorio Emanuele 84 – Bari – Tel.: 0805772251 / 0805772245 - email: privacy@comune.bari.it – PEC: privacy.comunebari@pec.rupar.puglia.it</p>
            </div>
        </div>

        <div class="p-d-inline-flex p-col-12 p-grid p-nogutter p-mt-3">
            <div class="p-d-flex p-col-4 border">
                <h3 class="field-label p-m-0 p-p-1">Dati di contatto per l'esercizio dei diritti</h3>
            </div>
            <div class="p-d-flex p-col-8 border border-noleft">
                <p class="label p-m-0 p-p-1">Segreteria Generale del Comune di Bari– C.so Vittorio Emanuele 84 – Bari – Tel.: 0805772251 / 0805772245 - email: privacy@comune.bari.it – PEC: privacy.comunebari@pec.rupar.puglia.it</p>
            </div>
        </div>
    </div>
</div>