<div class="p-grid p-nogutter p-pt-2 p-pr-3 p-pl-3 p-pb-3">
    <h4 class="intestazione-componente">Rigetto e Revoca</h4>
</div>

<app-spinner-dialog *ngIf="showSpinner"></app-spinner-dialog>
<div [hidden]="showSpinner" class="p-m-3">
    <table-prime-ng
      [dataSource]="this.dataSource" 
      [columnSchema]="this.columnSchema" 
      [actions]="this.actions"
      [initSortColumn]="initSortColumn" 
      [directionSortColumn]="directionSortColumn"
      (onEvent)="this.onTableEvent($event)"
      [titleTable]="titleTable"
      [exportName]="exportName"
      [globalFilters]="globalFilters">
    </table-prime-ng>
</div> 

<p-dialog header="Carica determina e invia comunicazione al cittadino:" [(visible)]="showUploadDeterminaDialog" (onHide)="closeUploadDeterminaDialog()" styleClass="dialog-600" [draggable]="false" [resizable]="false" [modal]="true">
  <div class="p-grid p-m-2"> 
    <div class="p-col-12">
      <div class="p-field">
        <label class="p-text-bold">Numero determina:</label>
        <input type="text" pInputText [(ngModel)]="this.identificativoDetermina" class="stretch">
      </div>
      <div class="p-field">
        <label class="p-text-bold">Data emissione</label>
        <p-calendar dateFormat="dd/mm/yy" [yearNavigator]="true" [yearRange]="calculateYearDeterminaRange()" [monthNavigator]="true"
          [(ngModel)]="this.dataDetermina" placeholder="dd/mm/yyyy" appendTo="body" icon="pi pi-calendar" [showIcon]="true" 
          [maxDate]="dateNow" styleClass="data-calendar stretch"></p-calendar>
      </div>
      <div class="p-field">
        <label class="p-text-bold">Upload determina</label>
        <app-upload-file [pratica]="pratica" [mode]="'single'" (idDocUploaded)="getIdDocUploaded($event)"></app-upload-file>
      </div>
    </div>
  </div> 
  <p-footer>
    <div class="p-d-flex p-col-12 p-jc-end">
      <button pButton label="Annulla" class="btn-custom-style"
        (click)="closeUploadDeterminaDialog('Annulla')"></button>
      <button pButton label="Conferma" class="btn-custom-style"
        (click)="confermaUploadDetermina()" [disabled]="!this.identificativoDetermina.trim() || !this.dataDetermina"></button>
    </div>  
  </p-footer>
</p-dialog>

<p-dialog header="Approva rinuncia concessione:" [(visible)]="showApprovaPraticaDialog" (onHide)="closeApprovaPraticaDialog()" styleClass="dialog-500" [draggable]="false" [resizable]="false" [modal]="true">
  <div class="p-grid p-m-2"> 
    <div class="p-col-12">
      <div class="p-field">
        <label class="p-text-bold label">Note:</label>
        <textarea pInputTextarea [rows]="5" [(ngModel)]="this.noteIstruttoreMunicipio" class="text-area-no-resize stretch"></textarea>
      </div>
    </div>
  </div> 
  <p-footer>
    <div class="p-d-flex p-col-12 p-jc-end">
      <button pButton label="Annulla" class="btn-custom-style"
        (click)="closeApprovaPraticaDialog()"></button>
      <button pButton label="Conferma" class="btn-custom-style"
        (click)="confermaApprova()" [disabled]="!this.noteIstruttoreMunicipio.trim()"></button>
    </div>  
  </p-footer>
</p-dialog>

<p-dialog header="Numero protocollo:" [(visible)]="showProtocolloDialog" (onHide)="closeProtocolloDialog()" styleClass="dialog-400" [draggable]="false" [resizable]="false" [modal]="true" [closable]="false">
  <div class="p-grid p-m-2"> 
      <div class="p-col-12">
        <input *ngIf="!isProtocollata" type="text" pInputText [(ngModel)]="this.numProtocollo" class="stretch" [readonly]="true">
        <input *ngIf="isProtocollata" type="text" pInputText [(ngModel)]="this.pratica.numero_protocollo_comunicazione" class="stretch" [readonly]="true">
        <label *ngIf="isProtocollata" for="txtProtocollo" class="p-text-bold p-pt-2" style="display: block;">Protocollazione avvenuta con successo</label>
      </div>
  </div> 
  <p-footer>
      <div class="p-d-flex p-col-12 p-jc-end">
        <button *ngIf="this.numProtocollo == '--|--'" pButton label="Protocolla" class="btn-custom-style"
            (click)="this[actionRiprotocollazione]()"></button> 
          <button pButton label="Chiudi" class="btn-custom-style" (click)="showProtocolloDialog = false"></button>
      </div>  
  </p-footer>
</p-dialog>