<div class="p-grid p-nogutter p-pt-2 p-pr-3 p-pl-3 p-pb-3">
    <h4 class="intestazione-componente">Bonifica pratiche</h4>
</div>

<app-spinner-dialog *ngIf="showSpinner"></app-spinner-dialog>
<div [hidden]="showSpinner" class="p-m-3">
    <table-prime-ng
      [dataSource]="this.dataSource" 
      [columnSchema]="this.columnSchema" 
      [actions]="this.actions"
      [initSortColumn]="initSortColumn" 
      [directionSortColumn]="directionSortColumn"
      (onEvent)="this.onTableEvent($event)"
      [titleTable]="titleTable"
      [exportName]="exportName"
      [globalFilters]="globalFilters"
      [inserisciFeature]="inserisciFeature">
    </table-prime-ng>
</div> 

<p-dialog header="Bonifica pratica" [(visible)]="showInserisciPraticaDialog" styleClass="dialog-full-screen" [draggable]="false" [resizable]="false" [modal]="true" [closable]="false">

    <div class="p-fluid p-formgrid p-grid p-inputtext-lg p-m-2">

        <div class="p-col-12">
            <legend class="legend">Tipologia persona<span class="campi-obbligatori">(*): campi obbligatori</span></legend>
        </div>

        <div class="p-field p-col-12">      
            <p-inputSwitch [(ngModel)]="isPersonaGiuridica" (onChange)="tipologiaPersonaChange($event)" [readonly]="readonly"></p-inputSwitch>
            <label class="tipologia-persona-label" for="txtinputNome">{{isPersonaGiuridica ? 'Persona Giuridica' : 'Persona Fisica'}}</label>
        </div>
    </div>
  
    <form [formGroup]="inserisciPraticaForm">

        <div class="p-fluid p-formgrid p-grid p-inputtext-lg p-m-2" formGroupName="anagrafica">
    
        <div class="p-col-12">
            <legend class="legend">Anagrafica firmatario</legend>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputNome" class="p-text-bold">Nome</label>
            <input type="text" id="txtinputNome" name="txtinputNome" pInputText formControlName="nome">
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputCognome" class="p-text-bold">Cognome</label>
            <input type="text" id="txtinputCognome" name="txtinputCognome" pInputText formControlName="cognome">
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputSesso" class="p-text-bold">Sesso</label>
                <p-selectButton name="txtinputSesso" [options]="sessoUsers" optionLabel="label" optionValue="value" formControlName="sesso" styleClass="button-select"></p-selectButton>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputDatadinascita" class="p-text-bold">Data di nascita</label>
            <p-calendar name='txtinputDatadinascita' dateFormat="dd/mm/yy" [yearNavigator]="true" [yearRange]="calculateYearRange()" [monthNavigator]="true"
                formControlName="data_nascita" placeholder="dd/mm/yyyy" appendTo="body" icon="pi pi-calendar" [showIcon]="true" inputId="txtinputDatadinascita" styleClass="data-calendar"
                [maxDate]="dateNow"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputLuogoNascita" class="p-text-bold">Luogo di nascita</label>
            <input type="text" id="txtinputLuogoNascita" name="txtinputLuogoNascita" pInputText pTooltip="Specificare città e provincia di nascita" placeholder="Es: Bari (BA)" 
                formControlName="luogo_nascita">
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputLuogoResidenza" class="p-text-bold">Indirizzo di residenza</label>
            <input type="text" id="txtinputLuogoResidenza" name="txtinputLuogoResidenza" pInputText pTooltip="Specificare indirizzo, città e provincia di residenza" placeholder="Es: Corso Vittorio Emanuele II, 84, Bari (BA)"
                formControlName="luogo_residenza">
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputCodicefiscale" class="p-text-bold">Codice Fiscale / Partita IVA {{isPersonaGiuridica ? '' : '(*)'}}</label>
            <input id="txtinputCodicefiscale" name="txtinputCodicefiscale" pInputText 
                formControlName="codice_fiscale" [readonly]="readonly && !isPersonaGiuridica">  
                <p-message *ngIf="isNotValid('codice_fiscale','anagrafica')" severity="error" text="Formato codice fiscale/partita iva non valido."></p-message>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputNumtel" class="p-text-bold">Recapito telefonico</label>
            <input id="txtinputNumtel" name="txtinputNumtel" pInputText formControlName="recapito_telefonico">  
            <p-message *ngIf="isNotValid('recapito_telefonico','anagrafica')" severity="error" text="Formato recapito telefonico non valido."></p-message>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputEmail" class="p-text-bold">Email/PEC</label>
            <input type="email" id="txtinputEmail" name="txtinputEmail" pInputText 
                formControlName="email">  
            <p-message *ngIf="isNotValid('email','anagrafica')" severity="error" text="Formato email non valido."></p-message>
        </div>

        <div *ngIf="isPersonaGiuridica" class="p-col-12">
            <legend class="legend">Anagrafica destinatario</legend>
        </div>

        <div *ngIf="isPersonaGiuridica" class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputRagioneSociale" class="p-text-bold">Ragione sociale</label>
            <input type="text" id="txtinputRagioneSociale" name="txtinputRagioneSociale" pInputText formControlName="ragione_sociale">
        </div>

        <div *ngIf="isPersonaGiuridica" class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputCodicefiscalePIVA" class="p-text-bold">Codice Fiscale / Partita IVA (*)</label>
            <input id="txtinputCodicefiscalePIVA" name="txtinputCodicefiscalePIVA" pInputText 
            formControlName="codice_fiscale_piva" pTooltip="Codice fiscale del condominio o Partita IVA dell'azienda" [readonly]="readonly  && isPersonaGiuridica">  
            <p-message *ngIf="isNotValid('codice_fiscale_piva','anagrafica')" severity="error" text="Formato codice fiscale/partita iva non valido."></p-message>
        </div>

        <div *ngIf="isPersonaGiuridica" class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputSedeLegale" class="p-text-bold">Indirizzo sede legale</label>
            <input type="text" id="txtinputSedeLegale" name="txtinputSedeLegale" pInputText formControlName="indirizzo_sede_legale">
        </div>

        </div>
    
        <div class="p-fluid p-formgrid p-grid p-inputtext-lg p-m-2" formGroupName="dati_istanza">

        <div class="p-col-12">
            <legend class="legend">Dati dell'istanza</legend>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputIndirizzoSegnale" class="p-text-bold">Indirizzo del segnale indicatore (*)</label>
            <p-autoComplete formControlName="indirizzo_segnale_indicatore" [suggestions]="civilarioResults" (completeMethod)="searchCivilario($event)" 
                placeholder="indirizzo, civico/esponente" field="indirizzo" [readonly]="readonly"></p-autoComplete>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputMotivazione" class="p-text-bold">Motivazione richiesta</label>
            <input type="text" id="txtinputMotivazione" name="txtinputMotivazione" pInputText
                formControlName="motivazione_richiesta">
        </div>

        <div class="p-col-12 p-grid p-nogutter">
            <div class="p-field p-col-12">
                <label class="p-text-bold p-m-0">Ruolo richiedente</label>
            </div>
            <ng-container *ngFor="let element of ruoloRichiedenteSchema">
                <div class="p-field p-col-12 p-sm-6 p-md-4">
                    <p-radioButton name="ruolo_richiedente" [label]="element.label" [value]="element.value" [pTooltip]="element.descrizione"
                        formControlName="ruolo_richiedente" styleClass="checkbox-form"></p-radioButton>
                </div>
            </ng-container>   
        </div> 

        <div class="p-col-12 p-grid p-nogutter">
            <div class="p-field p-col-12">
                <label class="p-text-bold p-m-0">Utilizzo dei locali</label>
            </div>
            <ng-container *ngFor="let element of utilizzoLocaliSchema">
                <div class="p-field p-col-12 p-sm-6 p-md-4">
                    <p-radioButton name="utilizzo_locali" [label]="element.label" [value]="element.value" [pTooltip]="element.descrizione"
                        formControlName="utilizzo_locali" styleClass="checkbox-form" (onClick)="setSpecificaAltro()"></p-radioButton>
                </div>
            </ng-container>  
        </div> 
        <div *ngIf="isTipologiaPraticaAltro(inserisciPraticaForm.get('dati_istanza.utilizzo_locali').value)" class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputAltro" class="p-text-bold">Definisci utilizzo locali (*)</label>
            <input type="text" id="txtinputAltro" name="txtinputAltro" pInputText
                formControlName="specifica_utilizzo_locali">
        </div>
        </div>
    
        <div class="p-fluid p-formgrid p-grid p-inputtext-lg p-m-2" formGroupName="dichiarazioni_aggiuntive">

        <div class="p-col-12">
            <legend class="legend">Dichiarazioni aggiuntive</legend>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-4 p-pb-3 p-m-0 p-d-flex p-ai-center">
            <p-checkbox class="p-mb-1" name="checkBoxSuoloPubblico" id="checkBoxSuoloPubblico" label="Accettazione regolamento suolo pubblico (*)" pTooltip="Dichiaro di essere a conoscenza del regolamento comunale per l'occupazione di suolo pubblico che disciplina l'apertura di passi carrabili"
                [binary]="true" [formControl]="inserisciPraticaForm.controls['dichiarazioni_aggiuntive'].get('accettazione_suolo_pubblico')"></p-checkbox>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-4 p-pb-3 p-m-0 p-d-flex p-ai-center">
            <p-checkbox class="p-mb-1" name="checkBoxSpeseCarico" id="checkBoxSpeseCarico" label="Conoscenza spese a carico (*)" pTooltip="Dichiaro di essere a conoscenza che la realizzazione del passo carrabile è a propria cura e spese"
                [binary]="true" [formControl]="inserisciPraticaForm.controls['dichiarazioni_aggiuntive'].get('conoscenza_spese_carico')"></p-checkbox>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-4 p-pb-3 p-m-0 p-d-flex p-ai-center">
            <span pTooltip="Se selezionato il passo carrabile dà accesso a locale/area vincolata a parcheggio">
                <p-toggleButton class="p-mb-0" name="checkBoxVincoloParcheggio" id="checkBoxVincoloParcheggio" [onIcon]="'pi pi-check'" offIcon="pi pi-times"
                    formControlName="vincolo_parcheggio" styleClass="toggle-button"></p-toggleButton>
                <label for="checkBoxVincoloParcheggio" class="p-checkbox-label p-mb-0">Vincolo al parcheggio</label>
            </span>
        </div>

        <div class="p-col-12 p-grid p-nogutter">
            <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0 p-d-flex p-ai-center">
                <p-checkbox class="p-mb-1" name="checkBoxEsenzione" id="checkBoxEsenzione" label="Dichiaro di essere esente dal pagamento della marca da bollo" pTooltip="Esenzione pagamento marca da bollo"
                    [binary]="true" [formControl]="inserisciPraticaForm.controls['dichiarazioni_aggiuntive'].get('flag_esenzione')" (onChange)="changeEsenzione()"></p-checkbox>
            </div>

            <div *ngIf="isEsente(inserisciPraticaForm.get('dichiarazioni_aggiuntive.flag_esenzione').value)" class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
                <label for="txtinputEsenzione" class="p-text-bold">Motivazione esenzione (*)</label>
                <input type="text" id="txtinputEsenzione" name="txtinputEsenzione" pTooltip="Descrivere la motivazione dell'esenzione ed indicare eventualmente il riferimento normativo"
                    pInputText formControlName="motivazione_esenzione">
            </div>
        </div>

        <div class="p-col-12 p-grid p-nogutter">
            <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0 p-d-flex p-ai-center">
                <p-checkbox class="p-mb-1" name="checkBoxEsenzioneCUP" id="checkBoxEsenzioneCUP" label="Esente dal pagamento del CUP" pTooltip="Esente dal pagamento del CUP"
                    [binary]="true" [formControl]="inserisciPraticaForm.controls['dichiarazioni_aggiuntive'].get('flag_esenzione_cup')" (onChange)="changeEsenzioneCUP()"></p-checkbox>
            </div>

            <div *ngIf="isEsente(inserisciPraticaForm.get('dichiarazioni_aggiuntive.flag_esenzione_cup').value)" class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
                <label for="txtinputEsenzioneCUP" class="p-text-bold">Motivazione esenzione pagamento CUP (*)</label>
                <input type="text" id="txtinputEsenzioneCUP" name="txtinputEsenzioneCUP" pTooltip="Descrivere la motivazione dell'esenzione dal pagamento del CUP"
                    pInputText formControlName="motivazione_esenzione_cup">
            </div>
          </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputLocaleArea" class="p-text-bold">Locale/area [mq]</label>
            <input type="number" id="txtinputLocaleArea" name="txtinputLocaleArea" pInputText placeholder="Es: 0.00" pTooltip="Il passo carrabile dà accesso a locale/area di mq (almeno 25mq)"
                formControlName="locale_area" min="0" max="10000" onkeypress="return !(event.charCode == 44) && !(event.charCode == 45)">
            <p-message *ngIf="rangeIsNotValid('locale_area','dichiarazioni_aggiuntive')" severity="error" text="Valori consentiti: [0 - 10000]"></p-message>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputCapienzaVeicoli" class="p-text-bold">Capienza min. veicoli</label>
            <input type="number" id="txtinputCapienzaVeicoli" name="txtinputCapienzaVeicoli" placeholder="Es: 0" pInputText pTooltip="Capienza minima di numero veicoli"
                formControlName="capienza_min_veicoli" min="0" max="1000" onkeypress="return !(event.charCode == 44) && !(event.charCode == 45) && !(event.charCode == 46)">
            <p-message *ngIf="rangeIsNotValid('capienza_min_veicoli','dichiarazioni_aggiuntive')" severity="error" text="Valori consentiti: [0 - 1000]"></p-message>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputDistanzaIntersezione" class="p-text-bold">Distanza dall'intersezione [m]</label>
            <input type="number" id="txtinputDistanzaIntersezione" name="txtinputDistanzaIntersezione" placeholder="Es: 0.00" pInputText pTooltip="Il passo carrabile è distante metri (almeno 12 m) dall'intersezione stradale più vicina"
                formControlName="distanza_intersezione" min="0" max="1000" onkeypress="return !(event.charCode == 44) && !(event.charCode == 45)">
            <p-message *ngIf="rangeIsNotValid('distanza_intersezione','dichiarazioni_aggiuntive')" severity="error" text="Valori consentiti: [0 - 1000]"></p-message>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputLarghezza" class="p-text-bold">Larghezza [m]</label>
            <input type="number" id="txtinputLarghezza" name="txtinputLarghezza" placeholder="Es: 0.00" pInputText pTooltip="Il passo carrabile ha una larghezza pari a metri"
                formControlName="larghezza" min="0" max="1000" onkeypress="return !(event.charCode == 44) && !(event.charCode == 45)">
            <p-message *ngIf="rangeIsNotValid('larghezza','dichiarazioni_aggiuntive')" severity="error" text="Valori consentiti: [0 - 1000]"></p-message>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputProfondita" class="p-text-bold">Profondità [m]</label>
            <input type="number" id="txtinputProfondita" name="txtinputProfondita" placeholder="Es: 0.00" pInputText pTooltip="Il passo carrabile ha una profondità pari a metri"
                formControlName="profondita" min="0" max="1000" onkeypress="return !(event.charCode == 44) && !(event.charCode == 45)">
            <p-message *ngIf="rangeIsNotValid('profondita','dichiarazioni_aggiuntive')" severity="error" text="Valori consentiti: [0 - 1000]"></p-message>
        </div>

        <div class="p-col-12 p-grid p-nogutter" formGroupName="titolo_autorizzativo">
            <div class="p-field p-col-12">
                <label class="p-text-bold p-m-0">Titolo autorizzativo</label>
            </div>
            <ng-container *ngFor="let element of titoloAutorizzativoSchema">
                <div class="p-field p-col-12 p-sm-4">
                    <p-radioButton name="tipologia" [label]="element.label" [value]="element.value" [pTooltip]="element.descrizione"
                        formControlName="tipologia" styleClass="checkbox-form" (onClick)="changeTitoloAutorizzativo()"></p-radioButton>
                </div>
            </ng-container>  
        </div>   
        
        <div formGroupName="titolo_autorizzativo" *ngIf="isTitoloAutorizzativoAltro(inserisciPraticaForm.get('dichiarazioni_aggiuntive.titolo_autorizzativo.tipologia').value)" class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputTitoloAutorizzativoAltro" class="p-text-bold">Definisci titolo autorizzativo (*)</label>
            <input type="text" id="txtinputTitoloAutorizzativoAltro" name="txtinputTitoloAutorizzativoAltro" pInputText formControlName="specifica_tipologia">
        </div>

        <div formGroupName="titolo_autorizzativo" *ngIf="isTitoloAutorizzativoSelected(inserisciPraticaForm.get('dichiarazioni_aggiuntive.titolo_autorizzativo.tipologia').value)" class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputRiferimentoTitoloAutorizzativo" class="p-text-bold">Riferimento titolo autorizzativo (*)</label>
            <input type="text" id="txtinputRiferimentoTitoloAutorizzativo" name="txtinputRiferimentoTitoloAutorizzativo" pInputText formControlName="riferimento">
        </div>

        </div>    
        
        <div class="p-fluid p-formgrid p-grid p-inputtext-lg p-m-2">
    
        <div class="p-col-12">
            <legend class="legend">Informazioni aggiuntive concessione</legend>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0" formGroupName="dati_istanza">
            <label for="txtinputDataFineConcessione" class="p-text-bold">Data fine concessione (*)</label>
            <p-calendar name='txtinputDataFineConcessione' dateFormat="dd/mm/yy" [yearNavigator]="true" [yearRange]="calculateYearRangeFineConcessione()" [monthNavigator]="true"
                formControlName="data_scadenza_concessione" placeholder="dd/mm/yyyy" appendTo="body" icon="pi pi-calendar" [showIcon]="true" inputId="txtinputDataFineConcessione" styleClass="data-calendar"></p-calendar>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputProtocollo" class="p-text-bold">Num. protocollo</label>
            <input type="text" id="txtinputProtocollo" name="txtinputProtocollo" pInputText formControlName="numero_protocollo">
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputRFID" class="p-text-bold">Tag RFID</label>
            <input type="text" id="txtinputRFID" name="txtinputRFID" pInputText formControlName="tag_rfid">
        </div>

        </div>

        <div class="p-fluid p-formgrid p-grid p-inputtext-lg p-m-2" formGroupName="determina">
    
        <div class="p-col-12">
            <legend class="legend">Determina</legend>
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label class="p-text-bold">Numero determina (*)</label>
            <input type="text" id="txtinputNumProvvedimentoOrigine" name="txtinputNumProvvedimentoOrigine" pInputText formControlName="id">
        </div>

        <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-4 p-pb-3 p-m-0">
            <label for="txtinputDataInizioConcessione" class="p-text-bold">Data emissione (*)</label>
            <p-calendar name='txtinputDataInizioConcessione' dateFormat="dd/mm/yy" [yearNavigator]="true" [yearRange]="calculateYearRange()" [monthNavigator]="true"
                formControlName="data_emissione" placeholder="dd/mm/yyyy" appendTo="body" icon="pi pi-calendar" [showIcon]="true" inputId="txtinputDataInizioConcessione" 
                [maxDate]="dateNow" styleClass="data-calendar"></p-calendar>
        </div>

        </div>

    </form>

    <p-footer>
      <div class="p-d-flex p-col-12 p-jc-end">
        <button pButton label="Annulla" class="btn-custom-style"
          (click)="closeInserisciPraticaDialog()"></button>
        <button pButton label="Conferma" class="btn-custom-style"
          (click)="inserisciPratica()" [disabled]="false"></button>
      </div>  
    </p-footer>
</p-dialog>