openapi: 3.0.1
info:
  title: Swagger GPC & Console IoT
  description: Documentazione API Gestionale Passi Carrabili e Console IoT
  version: "1.0"
servers:
- url: https://gestionale-passi-carrabili.comune.bari.it/api
tags:
- name: Autenticazione
  description: API accesso alla web app
- name: Passi Carrabili
  description: API passi carrabili
- name: Utility
  description: API utility
- name: User
  description: API gestione utenti
- name: Shared
  description: API condivise con sistemi esterni
paths:
  /auth/login:
    post:
      tags:
      - Autenticazione
      description: Permette l'autenticazione dell'utente al sistema
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: any
                password:
                  type: string
                  example: any
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "true"
                  token:
                    type: object
                    example: <<jwt_token>>
                  groups:
                    type: object
                    example: json contenente i permessi per le funzioni del gestionale
                      in base al profilo utente connesso
                  username:
                    type: object
                    example: any
                  userlogged:
                    type: object
                    example: json contenente i dati dell'utente connesso
        404:
          description: Username o Password Errata / L'utente non è attivo o è stato
            cancellato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  token:
                    type: object
                    example: null
                  message:
                    type: object
                    example: Username o Password Errata
      x-codegen-request-body-name: body
  /auth/logout:
    post:
      tags:
      - Autenticazione
      description: Permette la disconnessione dell'utente dal sistema
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: any
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  token:
                    type: object
                    example: null
                  message:
                    type: object
                    example: Logout utente registrato.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: Failed to authenticate token.
      x-codegen-request-body-name: body
  /auth/recuperoPassword:
    post:
      tags:
      - Autenticazione
      description: Effettua il reset della password nel caso in cui sia stata dimenticata
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: any
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Nuova password inviata all'indirizzo mail associato all'account
        404:
          description: Username errato / Errore durante la modifica della password
          content:
            application/json:
              schema:
                type: object
                properties:
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Username errato
      x-codegen-request-body-name: body
  /auth/getToken:
    post:
      tags:
      - Autenticazione
      description: Permette di ottenere il token jwt di accesso alle API del gestionale
        (per cooperazione con egov)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: any
                password:
                  type: string
                  example: any
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "true"
                  token:
                    type: object
                    example: <<jwt_token>>
                  username:
                    type: object
                    example: any
                  message:
                    type: object
                    example: Connessione avvenuta con successo
        404:
          description: Username o Password Errata
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  token:
                    type: object
                    example: null
                  message:
                    type: object
                    example: Username o Password Errata
      x-codegen-request-body-name: body
  /passicarrabili/inserimentoBozzaPratica:
    post:
      tags:
      - Passi Carrabili
      description: Effettua l'inserimento della pratica nel sistema in stato bozza
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        description: json contenente i dati dell'istanza
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  istanza:
                    type: object
                    example: json contenente l'istanza inserita a sistema
                  message:
                    type: object
                    example: messaggio di avvenuto inserimento
                  responseEmail:
                    type: object
                    example: comunicazione di avvenuto o meno invio della mail
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        409:
          description: Esiste già una pratica nel sistema per il civico selezionato
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Esiste già una pratica nel sistema per il civico selezionato
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
      x-codegen-request-body-name: body
  /passicarrabili/inserimentoPratica:
    post:
      tags:
      - Passi Carrabili
      description: Effettua l'inserimento della pratica nel sistema in stato inserita
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                istanza:
                  type: object
                  example: json contenente i dati dell'istanza
                emailInviata:
                  type: object
                  example: boolean, true se api chiamata da GPC, false se api chiamata
                    da egov
                isPregresso:
                  type: object
                  example: boolean, true se pratica proveniente dallo storico
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  istanza:
                    type: object
                    example: json contenente l'istanza inserita a sistema
                  message:
                    type: object
                    example: messaggio di avvenuto inserimento
                  responseEmail:
                    type: object
                    example: comunicazione di avvenuto o meno invio della mail
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        409:
          description: Esiste già una pratica nel sistema per il civico selezionato
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Esiste già una pratica nel sistema per il civico selezionato
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
      x-codegen-request-body-name: body
  /passicarrabili/aggiornaPratica:
    post:
      tags:
      - Passi Carrabili
      description: Effettua l'aggiornamento dei dati della pratica nei diversi step
        del flusso di istruttoria
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                istanza:
                  type: object
                  example: json contenente i dati dell'istanza
                emailInviata:
                  type: object
                  example: boolean, true se api chiamata da GPC, false se api chiamata
                    da egov
                statoIntegrazione:
                  type: object
                  example: stato pratica relativo all'integrazione
                storicizza_pratica:
                  type: object
                  example: boolean, true se bisogna preservare il log dell'aggiornamento
                    dell'istanza nel sistema
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  istanza:
                    type: object
                    example: json contenente l'istanza inserita a sistema
                  message:
                    type: object
                    example: messaggio di avvenuto aggiornamento
                  responseEmail:
                    type: object
                    example: comunicazione di avvenuto o meno invio della mail
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
      x-codegen-request-body-name: body
  /passicarrabili/eliminaPratica/{id_doc}:
    delete:
      tags:
      - Passi Carrabili
      description: Elimina la pratica dal sistema
      parameters:
      - name: id_doc
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: Eliminazione della pratica avvenuta con successo
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: La pratica è stata eliminata
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Errore durante la cancellazione della pratica
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/praticheCittadino:
    post:
      tags:
      - Passi Carrabili
      description: Effettua la ricerca delle pratiche utilizzando i filtri inseriti
        nel body
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codice_fiscale:
                  type: object
                  example: any
                nome:
                  type: object
                  example: any
                cognome:
                  type: object
                  example: any
                numero_protocollo:
                  type: object
                  example: any
                id_determina:
                  type: object
                  example: any
                tag_rfid:
                  type: object
                  example: any
                ragione_sociale:
                  type: object
                  example: any
                indirizzo:
                  type: object
                  example: any
                indirizzo_segnale_indicatore:
                  type: object
                  example: any
                stato_pratica:
                  type: object
                  example: any
                tipologia_processo:
                  type: object
                  example: any
                municipio_id:
                  type: object
                  example: any
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche che rispettano i filtri
                      impostati
                  count:
                    type: object
                    example: numero di pratiche trovate con i filtri impostati
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
      x-codegen-request-body-name: body
  /passicarrabili/storicoPratica/{idpratica}:
    get:
      tags:
      - Passi Carrabili
      description: Restituisce lo storico della pratica, cioè le operazioni dell'istruttoria
        ed i relativi dettagli
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: idpratica
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente lo storico delle operazioni della pratica
                      selezionata
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
  /passicarrabili/cercaPratica/{id}:
    get:
      tags:
      - Passi Carrabili
      description: Effettua la ricerca della pratica selezionata
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  json:
                    type: object
                    example: json contenente l'istanza cercata
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
  /passicarrabili/documentiPratica/{idpratica}:
    get:
      tags:
      - Passi Carrabili
      description: Restituisce la lista dei documenti relativi alla pratica selezionata
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: idpratica
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente i documenti associati alla pratica selezionata
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
  /passicarrabili/getDocumento/{id_doc}:
    get:
      tags:
      - Passi Carrabili
      description: Restituisce il documento selezionato per id
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: id_doc
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  json:
                    type: object
                    example: json contenente il documento cercato
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Documento non presente nel DB
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
  /passicarrabili/uploadDocument:
    post:
      tags:
      - Passi Carrabili
      description: Effettua il caricamento di un documento nel sistema
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: object
                  example: any
                name:
                  type: object
                  example: any
                mimeType:
                  type: object
                  example: any
                blob:
                  type: object
                  example: any
                tipologia_documento:
                  type: object
                  example: any
                rev:
                  type: object
                  example: any
                id_doc:
                  type: object
                  example: any
                numero_protocollo:
                  type: object
                  example: ""
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Documento inserito correttamente.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        413:
          description: Errore dimensione documento
          content:
            application/json:
              schema:
                type: object
                properties:
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Errore durante l'inserimento del documento - dimensione
                      massima file consentita 19mb
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore durante l'inserimento
                      del documento
      x-codegen-request-body-name: body
  /passicarrabili/assegnaProtocolloDocumento:
    post:
      tags:
      - Passi Carrabili
      description: Effettua l'assegnazione del numero di protocollo al documento
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: object
                  example: any
                name:
                  type: object
                  example: any
                mimeType:
                  type: object
                  example: any
                blob:
                  type: object
                  example: any
                tipologia_documento:
                  type: object
                  example: any
                rev:
                  type: object
                  example: any
                id_doc:
                  type: object
                  example: any
                numero_protocollo:
                  type: object
                  example: 123|2023
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Protocollo associato correttamente.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore durante la cancellazione
                      del documento
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
      x-codegen-request-body-name: body
  /passicarrabili/deleteDocument/{id}:
    delete:
      tags:
      - Passi Carrabili
      description: Elimina il documento dal sistema
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Il documento è stato eliminato
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore durante la cancellazione
                      del documento
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/cercaPratichePerStatoPratica/{statoPratica}/{municipio_id}/{group_id}:
    get:
      tags:
      - Passi Carrabili
      description: Permette di ricercare una pratica per lo stato, il municipio di
        appartenenza ed il ruolo utente connesso al sistema
      parameters:
      - name: statoPratica
        in: path
        required: true
        schema:
          type: string
      - name: municipio_id
        in: path
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche che rispettano i filtri
                      impostati
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/cercaIstruttoriMunicipio/{municipio_id}:
    get:
      tags:
      - Passi Carrabili
      description: Permette di ottenere la lista degli istruttori appartenenti ad
        uno specifico municipio
      parameters:
      - name: municipio_id
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente gli istruttori che rispettano i filtri
                      impostati
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/archiviaPraticaOriginaria:
    post:
      tags:
      - Passi Carrabili
      description: Effettua l'archiviazione della pratica originaria nell'iter di
        un processo di post concessione
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      requestBody:
        description: json contenente i dati dell'istanza
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  istanza:
                    type: object
                    example: json contenente l'istanza inserita a sistema
                  message:
                    type: object
                    example: messaggio di avvenuto aggiornamento
                  responseEmail:
                    type: object
                    example: comunicazione di avvenuto o meno invio della mail
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
      x-codegen-request-body-name: body
  /passicarrabili/revocaPraticaOriginaria:
    post:
      tags:
      - Passi Carrabili
      description: Effettua la revoca della pratica originaria durante il processo
        di revoca
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      requestBody:
        description: json contenente i dati dell'istanza
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  istanza:
                    type: object
                    example: json contenente l'istanza inserita a sistema
                  message:
                    type: object
                    example: messaggio di avvenuto aggiornamento
                  responseEmail:
                    type: object
                    example: comunicazione di avvenuto o meno invio della mail
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
      x-codegen-request-body-name: body
  /passicarrabili/cercaSegnalazioniRegolarizzazione/{municipio_id}:
    get:
      tags:
      - Passi Carrabili
      description: Restituisce la lista delle segnalazioni presenti a sistema relative
        al singolo municipio
      parameters:
      - name: municipio_id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche da regolarizzare
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Errore di sistema
  /passicarrabili/inserimentoSegnalazioniRegolarizzazione:
    post:
      tags:
      - Passi Carrabili
      description: Effettua l'inserimento di una segnalazione di regolarizzazione
        nel sistema
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id_doc:
                  type: object
                  example: null
                nome:
                  type: object
                  example: any
                cognome:
                  type: object
                  example: any
                recapito_telefonico:
                  type: object
                  example: any
                email:
                  type: object
                  example: any
                indirizzo_segnale_indicatore:
                  type: object
                  example: json contenente i dati relativi all'indirizzo restituito
                    dal servizio di toponomastica
                regolarizzazione_notificata:
                  type: object
                  example: "false"
                notifiche_attive:
                  type: object
                  example: "true"
                relazione_servizio:
                  type: object
                  example: '{ blob: '''', name: '''' }'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  istanza:
                    type: object
                    example: json contenente l'istanza inserita a sistema
                  message:
                    type: object
                    example: messaggio di avvenuto inserimento
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
      x-codegen-request-body-name: body
  /passicarrabili/getRelazioneServizioRegolarizzazione/{id_doc}:
    get:
      tags:
      - Passi Carrabili
      description: Permette il download del template della relazione di servizio di
        regolarizzazione
      parameters:
      - name: id_doc
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  json:
                    type: object
                    example: json contenente il documento cercato
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Documento non presente nel DB
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/notificaRegolarizzazioneInviata/{id_doc}:
    get:
      tags:
      - Passi Carrabili
      description: Effettua l'aggiornamento della pratica di regolarizzazione con
        l'informazione dell'avvenuta notifica esternamente al gestionale
      parameters:
      - name: id_doc
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data_scadenza_regolarizzazione:
                    type: object
                    example: data in dormato iso
                  message:
                    type: object
                    example: Invio notifica di regolarizzazione avvenuto con successo
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore durante la registrazione
                      della notifica di regolarizzazione
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/disattivaNotificaScadenziarioRegolarizzazione/{id_doc}:
    get:
      tags:
      - Passi Carrabili
      description: Permette di disattivare il servizio di scadenziario per la pratica
        selezionata
      parameters:
      - name: id_doc
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Disattivazione notifiche scadenziario avvenuta con successo
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore durante la disattivazione
                      delle notifiche dello scadenziario
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/cercaNotificheScadenziario/{municipio_id}/{group_id}:
    get:
      tags:
      - Passi Carrabili
      description: Restituisce la lista delle notifiche dello scadenziario relative
        alle pratiche in scadenza
      parameters:
      - name: municipio_id
        in: path
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche che rispettano i filtri
                      impostati
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Errore di sistema
  /passicarrabili/eliminaPraticaDaScadenziario/{id}:
    get:
      tags:
      - Passi Carrabili
      description: Permette l'archiviazione della pratica selezionata con la funzionalità
        dello scadenziario
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: La pratica è stata archiviata
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Errore durante la cancellazione della notifica dallo
                      scadenziario
  /passicarrabili/pregressoPratiche:
    get:
      tags:
      - Passi Carrabili
      description: Restituisce la lista delle pratiche 'storiche' importate dai file
        Excel del Comune di Bari
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche dello storico
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/setPraticaControllataPregresso:
    post:
      tags:
      - Passi Carrabili
      description: Effettua l'associazione della pratica importata dallo storico alla
        pratica nuova inserita nel sistema
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      requestBody:
        description: json contenente i dati dell'istanza
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Aggiornamento controllo effettuato
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore durante l'aggiornamento
                      dello stato della pratica
        503:
          description: Utente non autorizzato ad eliminare le pratiche dal sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
      x-codegen-request-body-name: body
  /passicarrabili/ripristinaPraticaPregresso:
    post:
      tags:
      - Passi Carrabili
      description: Elimina la pratica importata dallo storico ed in attesa della bonifica
        e la rende reimportabile dallo storico
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      requestBody:
        description: json contenente i dati dell'istanza
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Ripristino pratica storico effettuato
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore durante l'aggiornamento
                      dello stato della pratica
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
      x-codegen-request-body-name: body
  /passicarrabili/getPraticheSenzaTagRFID/{municipio_id}:
    get:
      tags:
      - Passi Carrabili
      description: Restituisce la lista delle pratiche di concessione valide senza
        un tag rfid associato
      parameters:
      - name: municipio_id
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche senza tag rfid associato
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/praticheAvviabiliPostConcessione:
    post:
      tags:
      - Passi Carrabili
      description: Lista delle concessioni valide per cui è avviabile il processo
        di post concessione utilizzando il portale egov.
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tipologia_processo:
                  type: object
                  example: any
                codice_fiscale:
                  type: object
                  example: any
                codice_fiscale_piva:
                  type: object
                  example: any
                numero_protocollo:
                  type: object
                  example: any
                id_determina:
                  type: object
                  example: any
                tag_rfid:
                  type: object
                  example: any
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche avviabili post concessione
                      per la tipologia di processo selezionato
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
      x-codegen-request-body-name: body
  /passicarrabili/caricaDashboardKibana/{municipio_id}:
    get:
      tags:
      - Passi Carrabili
      description: Caricamento della dashboard di statistiche sulla base del municipio
        di appartenenza
      parameters:
      - name: municipio_id
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: link della dashboard di kibana
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/bonificaPratiche/{municipio_id}:
    get:
      tags:
      - Passi Carrabili
      description: Restituisce la lista delle pratiche da bonificare sulla base del
        municipio di appartenenza
      parameters:
      - name: municipio_id
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche da bonificare
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/getSegnalazioni/{municipio_id}:
    get:
      tags:
      - Passi Carrabili
      description: Restituisce la lista delle segnalazioni presenti a sistema sulla
        base del municipio di appartenenza
      parameters:
      - name: municipio_id
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le segnalazioni
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/getSegnalazione/{id_doc}:
    get:
      tags:
      - Passi Carrabili
      description: Restituisce i dati relativi alla segnalazione selezionata
      parameters:
      - name: id_doc
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  segnalazione:
                    type: object
                    example: json contenente la segnalazione presente a sistema
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/aggiornaSegnalazione:
    post:
      tags:
      - Passi Carrabili
      description: Permette l'aggiornamento della segnalazione selezionata con i nuovi
        dati
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      requestBody:
        description: json contenente i dati della segnalazione
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  segnalazione:
                    type: object
                    example: json contenente la segnalazione inserita a sistema
                  message:
                    type: object
                    example: La segnalazione è passata alla fase successiva
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
      x-codegen-request-body-name: body
  /passicarrabili/getPraticheInRevoca:
    post:
      tags:
      - Passi Carrabili
      description: Lista delle pratiche per cui è stata avviata la revoca
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                stato_pratica:
                  type: object
                  example: any
                codice_fiscale:
                  type: object
                  example: any
                codice_fiscale_piva:
                  type: object
                  example: any
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche per cui è stata avviata
                      la revoca lato back office
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
      x-codegen-request-body-name: body
  /passicarrabili/getPraticheInAttesaPagamentoBollo:
    post:
      tags:
      - Passi Carrabili
      description: Lista delle pratiche per cui è necessario pagare la marca da bollo
        mediante egov
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                codice_fiscale:
                  type: object
                  example: any
                codice_fiscale_piva:
                  type: object
                  example: any
                id_determina:
                  type: object
                  example: any
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche in attesa di pagamento del
                      bollo
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
      x-codegen-request-body-name: body
  /passicarrabili/checkTagRFID/{tag_rfid}:
    get:
      tags:
      - Passi Carrabili
      description: Effettua il controllo di univocità del tag rfid inserito
      parameters:
      - name: tag_rfid
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente le pratiche con il tag rfid indicato
                  notFound:
                    type: object
                    example: boolean, true se non sono stati dati
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
        503:
          description: Utente non autorizzato
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: You are not authorized.
  /passicarrabili/validazionePratica:
    post:
      tags:
      - Passi Carrabili
      description: Permette i controlli di validazione pre inserimento della pratica
        nel sistema
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                istanza:
                  type: object
                  example: any
                dimensione_totale_allegati_protocollo_kb:
                  type: object
                  example: any
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Validazione avvenuta con successo
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        409:
          description: Esiste già una pratica nel sistema per il civico selezionato
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Esiste già una pratica nel sistema per il civico selezionato
        413:
          description: Payload Too Large
          content:
            application/json:
              schema:
                type: object
                properties:
                  err:
                    type: object
                    example: Payload Too Large
                  message:
                    type: object
                    example: 'Dimensione allegati maggiore a quella consentita [MAX:
                      29296.9kb]'
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
      x-codegen-request-body-name: body
  /passicarrabili/checkAvvioProcessiPostConcessioneMultipli:
    post:
      tags:
      - Passi Carrabili
      description: Permette il controllo di eventuali processi post concessione già
        avviati
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                istanza:
                  type: object
                  example: any
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Processo post concessione avviabile
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        409:
          description: Esiste già un processo post concessione avviato per la pratica
            selezionata
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    example: Esiste già un processo post concessione avviato per la
                      pratica selezionata
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
      x-codegen-request-body-name: body
  /passicarrabili/countPratichePerStato/{municipio_id}/{group_id}:
    get:
      tags:
      - Passi Carrabili
      description: Effettua il conteggio delle pratiche sulla base dello stato, del
        municipio di apparteneneza e del ruolo utente
      parameters:
      - name: municipio_id
        in: path
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente json con la coppia stato_pratica e count
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
  /passicarrabili/countPratichePerFunzionalita/{municipio_id}:
    get:
      tags:
      - Passi Carrabili
      description: Effettua il conteggio delle pratiche per funzionalità e municipio
        di appartenenza
      parameters:
      - name: municipio_id
        in: path
        required: true
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    example: array contenente json con la coppia stato_pratica e count
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  message:
                    type: object
                    example: No token provided.
        500:
          description: Errore di sistema
          content:
            application/json:
              schema:
                type: object
                properties:
                  auth:
                    type: object
                    example: "false"
                  err:
                    type: object
                    example: json contenente l'errore restituito dal sistema
                  message:
                    type: object
                    example: Failed to authenticate token. / Errore di sistema
  /utility/generaDetermina:
    post:
      tags:
      - Utility
      description: Generazione del template di determina con valori pre compilati
        attinti dall'istanza presente nel sistema
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
      - name: requiredgroup
        in: header
        required: true
        schema:
          type: string
      requestBody:
        description: json contenente i dati dell'istanza
        content:
          application/json: {}
        required: true
      responses:
        200:
          description: OK
          headers:
            Content-disposition:
              description: attachment; filename=fileName.docx
              schema:
                type: object
          content: {}
        403:
          description: Forbidden
          content:
            application/json:
              schema:
[...]
