{
  "swagger": "2.0",
  "info": { 
    "title": "Swagger GPC & Console IoT",
    "description": "Documentazione API Gestionale Passi Carrabili e Console IoT",
    "version": "1.0"
  },
  "host": "gestionale-passi-carrabili.comune.bari.it",
  "basePath": "/api",
  "tags":[
    {
      "name":"Autenticazione",
      "description":"API accesso alla web app"
   },
    {
       "name":"Passi Carrabili",
       "description":"API passi carrabili"
    },
    {
       "name":"Utility",
       "description":"API utility"
    },
    {
       "name":"User",
       "description":"API gestione utenti"
    },
    {
      "name":"Shared",
      "description":"API condivise con sistemi esterni"
    }
 ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Autenticazione"],
        "description": "Permette l'autenticazione dell'utente al sistema",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],      
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "any",
                  "type": "string",
                  "required": true
                },
                "password": {
                  "example": "any",
                  "type": "string",
                  "required": true
                }
              }
            }
          }    
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "auth": { "example": true },
                "token": { "example": "<<jwt_token>>" },
                "groups": { "example": "json contenente i permessi per le funzioni del gestionale in base al profilo utente connesso" },
                "username": { "example": "any" },
                "userlogged": { "example": "json contenente i dati dell'utente connesso" }
              }  
            }
          },
          "404": {
            "description": "Username o Password Errata / L'utente non è attivo o è stato cancellato",       
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "token": { "example": null },
                "message": { "example": "Username o Password Errata" }
              }                      
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Autenticazione"],
        "description": "Permette la disconnessione dell'utente dal sistema",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ], 
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"         
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "any",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "token": { "example": null },
                "message": { "example": "Logout utente registrato." }
              }                      
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "Failed to authenticate token." }
              }                      
            }
          }
        }
      }
    },
    "/auth/recuperoPassword": {
      "post": {
        "tags": ["Autenticazione"],
        "description": "Effettua il reset della password nel caso in cui sia stata dimenticata",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ], 
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "any",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "example": "Nuova password inviata all'indirizzo mail associato all'account" }
              }                      
            }
          },
          "404": {
            "description": "Username errato / Errore durante la modifica della password",
            "schema": {
              "type": "object",
              "properties": {
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Username errato" }
              }                      
            }
          }
        }
      }
    },
    "/auth/getToken": {
      "post": {
        "tags": ["Autenticazione"],
        "description": "Permette di ottenere il token jwt di accesso alle API del gestionale (per cooperazione con egov)",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "example": "any",
                  "type": "string",
                  "required": true
                },
                "password": {
                  "example": "any",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "auth": { "example": true },
                "token": { "example": "<<jwt_token>>" },
                "username": { "example": "any" },
                "message": { "example": "Connessione avvenuta con successo" }
              }  
            }
          },
          "404": {
            "description": "Username o Password Errata",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "token": { "example": null },
                "message": { "example": "Username o Password Errata" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/inserimentoBozzaPratica": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua l'inserimento della pratica nel sistema in stato bozza",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json contenente i dati dell'istanza",
            "type": "object"           
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "istanza": { "example": "json contenente l'istanza inserita a sistema" },
                "message": { "example": "messaggio di avvenuto inserimento" },
                "responseEmail": { "example": "comunicazione di avvenuto o meno invio della mail" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "409": {
            "description": "Esiste già una pratica nel sistema per il civico selezionato",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "example": "Esiste già una pratica nel sistema per il civico selezionato" }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/inserimentoPratica": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua l'inserimento della pratica nel sistema in stato inserita",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "istanza": {
                  "example": "json contenente i dati dell'istanza"
                },
                "emailInviata": {
                  "example": "boolean, true se api chiamata da GPC, false se api chiamata da egov"
                },
                "isPregresso": {
                  "example": "boolean, true se pratica proveniente dallo storico"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "istanza": { "example": "json contenente l'istanza inserita a sistema" },
                "message": { "example": "messaggio di avvenuto inserimento" },
                "responseEmail": { "example": "comunicazione di avvenuto o meno invio della mail" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "409": {
            "description": "Esiste già una pratica nel sistema per il civico selezionato",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "example": "Esiste già una pratica nel sistema per il civico selezionato" }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/aggiornaPratica": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua l'aggiornamento dei dati della pratica nei diversi step del flusso di istruttoria",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "istanza": {
                  "example": "json contenente i dati dell'istanza"
                },
                "emailInviata": {
                  "example": "boolean, true se api chiamata da GPC, false se api chiamata da egov"
                },
                "statoIntegrazione": {
                  "example": "stato pratica relativo all'integrazione"
                },
                "storicizza_pratica": {
                  "example": "boolean, true se bisogna preservare il log dell'aggiornamento dell'istanza nel sistema"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "istanza": { "example": "json contenente l'istanza inserita a sistema" },
                "message": { "example": "messaggio di avvenuto aggiornamento" },
                "responseEmail": { "example": "comunicazione di avvenuto o meno invio della mail" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/eliminaPratica/{id_doc}": {
      "delete": {
        "tags": ["Passi Carrabili"],
        "description": "Elimina la pratica dal sistema",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_doc",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminazione della pratica avvenuta con successo",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "example": "La pratica è stata eliminata" }
              }                      
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "example": "Errore durante la cancellazione della pratica" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/praticheCittadino": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua la ricerca delle pratiche utilizzando i filtri inseriti nel body",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "codice_fiscale": {
                  "example": "any"
                },
                "nome": {
                  "example": "any"
                },
                "cognome": {
                  "example": "any"
                },
                "numero_protocollo": {
                  "example": "any"
                },
                "id_determina": {
                  "example": "any"
                },
                "tag_rfid": {
                  "example": "any"
                },
                "ragione_sociale": {
                  "example": "any"
                },
                "indirizzo": {
                  "example": "any"
                },
                "indirizzo_segnale_indicatore": {
                  "example": "any"
                },
                "stato_pratica": {
                  "example": "any"
                },
                "tipologia_processo": {
                  "example": "any"
                },
                "municipio_id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche che rispettano i filtri impostati" },
                "count": { "example": "numero di pratiche trovate con i filtri impostati" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/storicoPratica/{idpratica}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Restituisce lo storico della pratica, cioè le operazioni dell'istruttoria ed i relativi dettagli",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "idpratica",
            "in": "path",
            "required": true,
            "type": "string"
          }     
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente lo storico delle operazioni della pratica selezionata" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/cercaPratica/{id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua la ricerca della pratica selezionata",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "json": { "example": "json contenente l'istanza cercata" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/documentiPratica/{idpratica}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Restituisce la lista dei documenti relativi alla pratica selezionata",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "idpratica",
            "in": "path",
            "required": true,
            "type": "string"
          }       
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente i documenti associati alla pratica selezionata" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/getDocumento/{id_doc}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Restituisce il documento selezionato per id",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "id_doc",
            "in": "path",
            "required": true,
            "type": "string"
          }     
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "json": { "example": "json contenente il documento cercato" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Documento non presente nel DB" }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/uploadDocument": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua il caricamento di un documento nel sistema",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "mimeType": {
                  "example": "any"
                },
                "blob": {
                  "example": "any"
                },
                "tipologia_documento": {
                  "example": "any"
                },
                "rev": {
                  "example": "any"
                },
                "id_doc": {
                  "example": "any"
                },
                "numero_protocollo": {
                  "example": ""
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "message": { "example": "Documento inserito correttamente." }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "413": {
            "description": "Errore dimensione documento",
            "schema": {
              "type": "object",
              "properties": {
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Errore durante l'inserimento del documento - dimensione massima file consentita 19mb" }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore durante l'inserimento del documento" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/assegnaProtocolloDocumento": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua l'assegnazione del numero di protocollo al documento",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "mimeType": {
                  "example": "any"
                },
                "blob": {
                  "example": "any"
                },
                "tipologia_documento": {
                  "example": "any"
                },
                "rev": {
                  "example": "any"
                },
                "id_doc": {
                  "example": "any"
                },
                "numero_protocollo": {
                  "example": "123|2023"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "message": { "example": "Protocollo associato correttamente." }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore durante la cancellazione del documento" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/deleteDocument/{id}": {
      "delete": {
        "tags": ["Passi Carrabili"],
        "description": "Elimina il documento dal sistema",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [        
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "message": { "example": "Il documento è stato eliminato" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore durante la cancellazione del documento" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/cercaPratichePerStatoPratica/{statoPratica}/{municipio_id}/{group_id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Permette di ricercare una pratica per lo stato, il municipio di appartenenza ed il ruolo utente connesso al sistema",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "statoPratica",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "municipio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche che rispettano i filtri impostati" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/cercaIstruttoriMunicipio/{municipio_id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Permette di ottenere la lista degli istruttori appartenenti ad uno specifico municipio",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "municipio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente gli istruttori che rispettano i filtri impostati" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/archiviaPraticaOriginaria": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua l'archiviazione della pratica originaria nell'iter di un processo di post concessione",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json contenente i dati dell'istanza",
            "type": "object"           
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "istanza": { "example": "json contenente l'istanza inserita a sistema" },
                "message": { "example": "messaggio di avvenuto aggiornamento" },
                "responseEmail": { "example": "comunicazione di avvenuto o meno invio della mail" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/revocaPraticaOriginaria": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua la revoca della pratica originaria durante il processo di revoca",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json contenente i dati dell'istanza",
            "type": "object"           
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "istanza": { "example": "json contenente l'istanza inserita a sistema" },
                "message": { "example": "messaggio di avvenuto aggiornamento" },
                "responseEmail": { "example": "comunicazione di avvenuto o meno invio della mail" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/cercaSegnalazioniRegolarizzazione/{municipio_id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Restituisce la lista delle segnalazioni presenti a sistema relative al singolo municipio",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "municipio_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche da regolarizzare" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/inserimentoSegnalazioniRegolarizzazione": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua l'inserimento di una segnalazione di regolarizzazione nel sistema",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id_doc": {
                  "example": "null"
                },
                "nome": {
                  "example": "any"
                },
                "cognome": {
                  "example": "any"
                },
                "recapito_telefonico": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "indirizzo_segnale_indicatore": {
                  "example": "json contenente i dati relativi all'indirizzo restituito dal servizio di toponomastica"
                },
                "regolarizzazione_notificata": {
                  "example": "false"
                },
                "notifiche_attive": {
                  "example": "true"
                },
                "relazione_servizio": {
                  "example": "{ blob: '', name: '' }"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "istanza": { "example": "json contenente l'istanza inserita a sistema" },
                "message": { "example": "messaggio di avvenuto inserimento" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/getRelazioneServizioRegolarizzazione/{id_doc}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Permette il download del template della relazione di servizio di regolarizzazione",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_doc",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "json": { "example": "json contenente il documento cercato" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Documento non presente nel DB" }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/notificaRegolarizzazioneInviata/{id_doc}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua l'aggiornamento della pratica di regolarizzazione con l'informazione dell'avvenuta notifica esternamente al gestionale",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_doc",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data_scadenza_regolarizzazione": { "example": "data in dormato iso" },
                "message": { "example": "Invio notifica di regolarizzazione avvenuto con successo" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore durante la registrazione della notifica di regolarizzazione" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/disattivaNotificaScadenziarioRegolarizzazione/{id_doc}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Permette di disattivare il servizio di scadenziario per la pratica selezionata",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_doc",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "message": { "example": "Disattivazione notifiche scadenziario avvenuta con successo" }              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore durante la disattivazione delle notifiche dello scadenziario" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }	
        }
      }
    },
    "/passicarrabili/cercaNotificheScadenziario/{municipio_id}/{group_id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Restituisce la lista delle notifiche dello scadenziario relative alle pratiche in scadenza",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "municipio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche che rispettano i filtri impostati" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/eliminaPraticaDaScadenziario/{id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Permette l'archiviazione della pratica selezionata con la funzionalità dello scadenziario",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "message": { "example": "La pratica è stata archiviata" }              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Errore durante la cancellazione della notifica dallo scadenziario" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/pregressoPratiche": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Restituisce la lista delle pratiche 'storiche' importate dai file Excel del Comune di Bari",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche dello storico" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/setPraticaControllataPregresso": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua l'associazione della pratica importata dallo storico alla pratica nuova inserita nel sistema",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json contenente i dati dell'istanza",
            "type": "object"           
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "message": { "example": "Aggiornamento controllo effettuato" }              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore durante l'aggiornamento dello stato della pratica" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato ad eliminare le pratiche dal sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/ripristinaPraticaPregresso": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Elimina la pratica importata dallo storico ed in attesa della bonifica e la rende reimportabile dallo storico",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json contenente i dati dell'istanza",
            "type": "object"           
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "message": { "example": "Ripristino pratica storico effettuato" }              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore durante l'aggiornamento dello stato della pratica" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }	
        }
      }
    },
    "/passicarrabili/getPraticheSenzaTagRFID/{municipio_id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Restituisce la lista delle pratiche di concessione valide senza un tag rfid associato",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "municipio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche senza tag rfid associato" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/praticheAvviabiliPostConcessione": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Lista delle concessioni valide per cui è avviabile il processo di post concessione utilizzando il portale egov.",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "tipologia_processo": {
                  "required": true,
                  "example": "any"
                },
                "codice_fiscale": {
                  "example": "any"
                },
                "codice_fiscale_piva": {
                  "example": "any"
                },
                "numero_protocollo": {
                  "example": "any"
                },
                "id_determina": {
                  "example": "any"
                },
                "tag_rfid": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche avviabili post concessione per la tipologia di processo selezionato" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/caricaDashboardKibana/{municipio_id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Caricamento della dashboard di statistiche sulla base del municipio di appartenenza",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "municipio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "link della dashboard di kibana" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }	
        }
      }
    },
    "/passicarrabili/bonificaPratiche/{municipio_id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Restituisce la lista delle pratiche da bonificare sulla base del municipio di appartenenza",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "municipio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"  
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche da bonificare" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }	
        }
      }
    },
    "/passicarrabili/getSegnalazioni/{municipio_id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Restituisce la lista delle segnalazioni presenti a sistema sulla base del municipio di appartenenza",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "municipio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le segnalazioni" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/getSegnalazione/{id_doc}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Restituisce i dati relativi alla segnalazione selezionata",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "id_doc",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "segnalazione": { "example": "json contenente la segnalazione presente a sistema" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/aggiornaSegnalazione": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Permette l'aggiornamento della segnalazione selezionata con i nuovi dati",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "json contenente i dati della segnalazione",
            "type": "object"           
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "segnalazione": { "example": "json contenente la segnalazione inserita a sistema" },
                "message": { "example": "La segnalazione è passata alla fase successiva" }              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/getPraticheInRevoca": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Lista delle pratiche per cui è stata avviata la revoca",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "stato_pratica": {
                  "required": true,
                  "example": "any"
                },
                "codice_fiscale": {
                  "example": "any"
                },
                "codice_fiscale_piva": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche per cui è stata avviata la revoca lato back office" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/getPraticheInAttesaPagamentoBollo": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Lista delle pratiche per cui è necessario pagare la marca da bollo mediante egov",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>" 
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "codice_fiscale": {
                  "example": "any"
                },
                "codice_fiscale_piva": {
                  "example": "any"
                },
                "id_determina": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche in attesa di pagamento del bollo" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/checkTagRFID/{tag_rfid}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua il controllo di univocità del tag rfid inserito",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "tag_rfid",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"
          },
          {
            "name": "requiredgroup",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente le pratiche con il tag rfid indicato" },
                "notFound": { "example": "boolean, true se non sono stati dati" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },         
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          },
          "503": {
            "description": "Utente non autorizzato",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "You are not authorized." }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/validazionePratica": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Permette i controlli di validazione pre inserimento della pratica nel sistema",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "istanza": {
                  "example": "any"
                },
                "dimensione_totale_allegati_protocollo_kb": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "message": { "example": "Validazione avvenuta con successo" }              
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "409": {
            "description": "Esiste già una pratica nel sistema per il civico selezionato",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "example": "Esiste già una pratica nel sistema per il civico selezionato" }
              }                      
            }
          },
          "413": {
            "description": "Payload Too Large",
            "schema": {
              "type": "object",
              "properties": {
                "err": { "example": "Payload Too Large" },
                "message": { "example": "Dimensione allegati maggiore a quella consentita [MAX: 29296.9kb]" }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/checkAvvioProcessiPostConcessioneMultipli": {
      "post": {
        "tags": ["Passi Carrabili"],
        "description": "Permette il controllo di eventuali processi post concessione già avviati",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "istanza": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "message": { "example": "Processo post concessione avviabile" }
              }  
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "message": { "example": "No token provided." }
              }                      
            }
          },
          "409": {
            "description": "Esiste già un processo post concessione avviato per la pratica selezionata",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "example": "Esiste già un processo post concessione avviato per la pratica selezionata" }
              }                      
            }
          },
          "500": {
            "description": "Errore di sistema",
            "schema": {
              "type": "object",
              "properties": {
                "auth": { "example": false },
                "err": { "example": "json contenente l'errore restituito dal sistema" },
                "message": { "example": "Failed to authenticate token. / Errore di sistema" }
              }                      
            }
          }
        }
      }
    },
    "/passicarrabili/countPratichePerStato/{municipio_id}/{group_id}": {
      "get": {
        "tags": ["Passi Carrabili"],
        "description": "Effettua il conteggio delle pratiche sulla base dello stato, del municipio di apparteneneza e del ruolo utente",
        "consumes":[
          "application/json"
        ],
        "produces":[
          "application/json"
        ],
        "parameters": [
          {
            "name": "municipio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "type": "string",
            "example": "Bearer <<jwt_token>>"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {  
              "type": "object",  
              "properties": {     
                "data": { "example": "array contenente json con la coppia stato_pratica e count" }
              }  
            }
          },
          "403": {
[...]
